.site-header {
	background-color: $unmuted-red;
	text-align: center;
	margin-bottom: 1.5em;
	a {
		color: $unmuted-palered;
	}
	img {
		height: 200px;
	}
	.post-type-archive-kpop &,
	.single-kpop & {
		background-color: $unmuted-purple;
		a {
			color: $unmuted-palepurple;
		}
	}
	.post-type-archive-crowncast &,
	.single-crowncast & {
		background-color: $unmuted-gold;
		a {
			color: $unmuted-palegold;
		}
	}
}

.site-title {
	margin-top: 0;
	margin-bottom: -30px;
}

.site-description {
	color: $unmuted-palered;
	font-family: $font__light;
	.post-type-archive-kpop &,
	.single-kpop & {
		color: $unmuted-palepurple;
	}
	.post-type-archive-crowncast &,
	.single-crowncast & {
		color: $unmuted-palegold;
	}
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}