.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post-content {
	background-color: #fff;
	border: 1px solid $color__background-pre;
	padding: 10px;
}

.entry-title {
	margin-top: 0;
	margin-bottom: 0;
}

.post-thumb {
	width: 25%;
	display: inline-block;
}

.post-thumb + .post-content {
	width: 70%;
	margin-left: 5%;
	float: right;
}

.hr-unmuted {
	padding: 0;
    border: none;
    border-top: 1px solid $color__background-pre;
    color: $color__background-pre;
    text-align: center;
    margin-top: 20px;
    &:after {
        content: "✕";
    	display: inline-block;
    	position: relative;
    	top: -0.75em;
    	font-size: 2em;
    	/*padding: 0 0.25em;*/
    	background: white;
	}
}

.comments-link {
	margin-right: 10px;
}

.tags-links {
	display: block;
}

.bio-block {
	clear: both;
}

.post-thumb + .bio-content {
	width: 75%;
	float: right;
	padding-left: 20px;
}

h2.meta-artist {
	margin: 0;
}