.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid $unmuted-palered;
	.post-type-archive-kpop &,
	.single-kpop & {
		border-top: 1px solid $unmuted-palepurple;
	}
	.post-type-archive-crowncast &,
	.single-crowncast & {
		border-top: 1px solid $unmuted-palegold;
	}
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		/*float: left;*/
		position: relative;
		display: inline-block;
		margin-right: 20px;
		&:last-child {
			margin-right: 0;
		}

		&:hover > a,
		&.focus > a {
			opacity: 0.7;
			text-decoration: underline;
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
		padding: 10px;
		color: #fff;
		background-color: $darkgray;
		border: 1px solid $color__background-pre;
		&:before {
			content: '← ';
		}
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
		padding: 10px;
		color: #fff;
		background-color: $darkgray;
		border: 1px solid $color__background-pre;
		&:after {
			content: ' →';
		}
	}
}

.menu-header-navigation-container {
	display: inline-block;
}

.search-form {
	display: inline-block;
	margin-left: 20px;

	.search-submit {
		border: none;
		text-shadow: none;
		box-shadow: none;
		background: #F18E9C;
		border-radius: 0;
		color: #FFF;
	}
}