$color__background-body: #FAFAFA;
$color__background-screen: #f1f1f1;
$color__background-hr: #eee;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$unmuted-red: #E41F3A;
$unmuted-palered: lighten($unmuted-red, 25%);

$unmuted-purple: #9f00a3;
$unmuted-palepurple: lighten($unmuted-purple, 25%);

$unmuted-gold: #E2C369;
$unmuted-palegold: lighten($unmuted-gold, 25%);

$darkgray: #363636;
$lightgray: #9F9E9E;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $unmuted-palered;
$color__link-visited: $unmuted-palered;
$color__link-hover: transparentize($color__link, 0.6);
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;